# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/

# macOS system files
.DS_Store

# IDE settings
.vscode/
.idea/

# Presentation decks / PPT files
*.pptx
*.ppt
